<script src="https://giscus.app/client.js"
        data-repo="Bitlatte/blog"
        data-repo-id="R_kgDOOvoItw"
        data-category="Announcements"
        data-category-id="DIC_kwDOOvoIt84CsHwx"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://bitlatte.dev/giscus_light.css"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>